<p class="input-field">
  <%= f.label :name  %>
  <%= f.text_field :name %>
</p>

<p class="input-field">
  <%= f.label :pid %>
  <%= f.text_field :pid %>
</p>

<p class="input-field">
  <%= f.label :sink %>
  <%= f.text_field :sink %>
</p>

<p class="input-field">
  <%= f.label :source %>
  <%= f.text_field :source %>
</p>

<p class="input-field">
  <%= f.label :status %>
  <%= f.text_field :status %>
</p>
